---
export const prerender = false;

import { Icon } from 'astro-icon/components';
import { format } from 'date-fns';

import Page from '$layouts/Page.astro';

import ToC from '~/components/ToC.astro';
import type { OpenGraphResponse } from '~/types/meta';
import { extractHeadings, processHtmlWithHeadings } from '~/utils/html';

interface Props {
  title: string;
  description: string;
  openGraph: OpenGraphResponse;
  bungieUrl: string;
  imageUrl: string;
  fullWidth: boolean;
}

const { title, description, openGraph, bungieUrl, imageUrl, fullWidth } = Astro.props;

const headings = extractHeadings(openGraph.html);
const processedHtml = processHtmlWithHeadings(openGraph.html);

import '$styles/article.css';
---

<Page {title} {description} {openGraph} {bungieUrl} {imageUrl} fullWidth={true}>
  <div
    class:list={[
      fullWidth && [
        '2xl:container 2xl:grid 2xl:max-w-none 2xl:grid-cols-[minmax(300px,1fr),minmax(0,65ch),1fr] 2xl:items-start 2xl:gap-10',
      ],
    ]}
  >
    {
      headings && headings.length > 0 && fullWidth && (
        <aside class="sticky top-8 hidden max-h-screen 2xl:col-start-1 2xl:block 2xl:pl-6">
          <ToC headings={headings} />
        </aside>
      )
    }
    <div class:list={['2xl:col-start-2 2xl:col-end-3', fullWidth && 'px-8']}>
      <header class="mx-auto flex max-w-4xl flex-col gap-3">
        <img class="w-full rounded-lg" src={imageUrl} alt={title} loading="lazy" />

        <div class="flex flex-col gap-2 pt-5">
          <h1 class="title text-4xl font-bold">{title}</h1>
          <p class="italic">{description}</p>
        </div>

        <div class="flex flex-col gap-2 pt-3 sm:flex-row sm:items-center sm:gap-5">
          <div class="flex items-center gap-2">
            <Icon size={25} name="mdi:calendar" class="text-ctp-blue" />
            <span>
              {format(new Date(openGraph.date || new Date()), 'MMMM dd, yyyy')}
            </span>
          </div>

          <div class="flex items-center gap-2">
            <Icon size={25} name="mdi:user-circle" class="text-ctp-blue" />
            <span>{openGraph.provider_name}</span>
          </div>

          <div class="flex items-center gap-2">
            <Icon size={25} name="mdi:link" class="text-ctp-blue" />
            <a href={bungieUrl} target="_blank" rel="noopener noreferrer" class="w-fit">
              View original article
            </a>
          </div>
        </div>

        <hr class="mt-3 border-ctp-mauve dark:border-ctp-blue" />
      </header>

      <section
        class:list={[
          'article-content prose break-words pt-10 dark:prose-invert',
          !fullWidth && 'mx-auto max-w-4xl px-8',
        ]}
      >
        <Fragment set:html={processedHtml} />
      </section>
    </div>
  </div>
</Page>

<style>
  .title {
    @apply font-title;
  }
</style>
