---
import '@fontsource/manrope/400.css';
import '@fontsource/atkinson-hyperlegible/400.css';

import type { OpenGraphResponse } from '~/types/meta';

interface Props {
  title: string;
  description: string;
  openGraph?: OpenGraphResponse;
  bungieUrl?: string;
  imageUrl?: string;
  fullWidth?: boolean;
}

const { title, description, openGraph, bungieUrl, imageUrl, fullWidth = false } = Astro.props;
---

<!doctype html>
<html class="flex flex-col" lang="en" transition:name="root" transition:animate="none">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta property="og:site_name" content="fxBungie" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta name="description" content={description} />

    {openGraph ? (
      <meta property="og:url" content={openGraph['url']} />
      <meta property="og:type" content="article" />
      <meta property="og:image:width" content="1200" />
      <meta property="og:image:height" content="630" />
      <meta property="og:title" content={openGraph['title']} />
      <meta property="og:image" content={imageUrl} />

      <meta property="theme-color" content={openGraph['theme_color']} />
      <link
        type="application/json+oembed"
        href={`${Astro.url.origin}/api/news/oembed?url=${encodeURIComponent(bungieUrl ?? '')}`}
      />

      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:site" content="@Bungie" />
      <meta name="twitter:title" content={openGraph['title']} />
      <meta name="twitter:description" content={description} />
      <meta name="twitter:image" content={imageUrl} />
      <meta name="twitter:image:alt" content={openGraph['title']} />
      <link rel="canonical" href={openGraph['url']} />
    ) : (
      <meta property="og:image" content="/logo.png" />
      <meta property="og:url" content={Astro.url.href} />
      <meta property="og:type" content="website" />

      <meta property="theme-color" content="#00a3e3" />

      <meta name="twitter:card" content="summary" />
      <meta name="twitter:site" content="@SapphoSys" />
      <meta name="twitter:title" content={title} />
      <meta name="twitter:description" content={description} />
      <meta name="twitter:image" content="/logo.png" />
      <meta name="twitter:image:alt" content={title} />
    )}

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/logo.png" type="image/x-icon" />
  </head>

  <body class="flex min-h-screen flex-col text-xl">
    <header
      class="mx-auto flex w-full max-w-4xl flex-col items-center justify-center gap-y-3 px-8 pt-8"
    >
      <div class="flex flex-row items-center gap-2">
        <img class="size-8" src="/logo.png" alt="fxBungie Logo" loading="lazy" />
        <a href="/" class="text-2xl font-bold">fxBungie</a>
      </div>
    </header>

    <main
      class:list={[
        'w-full flex-grow py-8',
        !fullWidth && 'mx-auto flex max-w-4xl flex-col gap-2 px-8',
      ]}
    >
      <slot />
    </main>

    <style is:global>
      a,
      button {
        @apply w-fit rounded-full text-ctp-blue ease-out hover:underline hover:opacity-50 motion-safe:transition dark:text-ctp-blue;
        @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-ctp-blue focus-visible:ring-offset-2 focus-visible:ring-offset-ctp-base dark:focus-visible:ring-ctp-blue;
      }

      body {
        @apply font-body;
        @apply ctp-latte bg-ctp-base text-ctp-text dark:ctp-macchiato selection:bg-ctp-blue selection:text-ctp-crust dark:bg-ctp-base dark:selection:bg-ctp-blue;
      }
    </style>
  </body>
</html>
